# Dependencies
node_modules/
vendor/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Misc
.DS_Store
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.docker/
manuais/
.cursor/
.cursor/rules/regra-leonidas.mdc
chaves/
template/

!frontend/.env
!template_modelo/
